# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
B_Vettori/SortingArray
F_Classi/Tris
.vscode/settings.json
X_MasterMind/main
X_MasterMind/matrice
X_BattleShip/matrice
X_BattleShip/temp.cpp
X_BattleShip/main
